@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Mate&family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3498db;
}

.wrapper{
    height: 260px;
    max-width: 410px;
    background: #fff;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
}
.wrapper.active{
    height: 530px;
}

header h1{
    font-size: 21px;
    font-weight: 500;
}

header p{
    margin-top: 5px;
    color: #474747;
    font-size: 16px;
}

.wrapper .form{
    margin: 20px 0 25px;
}

.form :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}

.form button{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: #3498db;
}

.wrapper .qr-code{
    display: flex;
    padding: 33px 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}



.qr-code img{
    width: 150px;
}


.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;   
}